@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import "../component/variables";


.quizContainer {
        display: none;
        background: $purpleColor;
        width: 300px;
        height: 400px;
        padding: 3rem 7rem;
        border-radius: 0.5rem;
        box-shadow: 5px 10px 10px 5px rgba(47, 47, 47, 0.5);

        h1 {
            color: $greenColor;
            margin-bottom: 0.5rem;
            font-size: 2.5rem;
            text-align: center;
        }

        h3 {
            font-size: 1.5rem;
            min-height: 82px;
        }

        ul {

            li {
            list-style: none;
            color: $whiteColor;
            margin: 0.5rem;

                input[type="radio"] {
                    display: none;
                }
                
                input[type="radio"]:checked + label{
                    background-color: $lightGreen;
                    color: $blackColor;
                    font-weight: bold;
                }

                label{
                    position: relative;
                    font-family: 'Poppins';
                    font-size: 16px;
                    border: 2px solid $lightGreen;
                    border-radius: 5px;
                    padding-left: 20px;
                    width: 240px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
                
                label::before{
                    content: "";
                    height: 20px;
                    width: 20px;
                    border: 3px solid $lightGreen;
                    border-radius: 50%;
                    margin-right: 10px;
                } 
            }
        }

        .btn {
            display: flex;
            justify-content: space-between;

            button {
                margin-top: 2rem;
                width: 100px;
                padding: 1rem;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                font-size: 1.2rem;
                font-weight: bold;
                background-color: $whiteColor;
                border: 2px solid $greyColor;
            }
            
        }
}


.formPage {
    background: $purpleColor;
    width: 765px;
    height: 450px;
    padding: 3rem 7rem;
    border-radius: 0.5rem;
    box-shadow: 5px 10px 10px 5px rgba(47, 47, 47, 0.5);

        .formTitle {
            color: $greenColor;
            font-size: 3rem;
            margin-bottom: 2rem;
            justify-content: center;
            align-items: center;
        }

        .formText {
        color: $blackColor;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        }

        .formBox {
            .formBoxTitle {
                color: $blackColor;
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 2rem;
                margin-right: 5px;
            }

            .formBoxInput {
                width: 100%;
                padding: 10px 18px;
                margin: 7px 0;
                border-radius: 10px;
                display: inline-block;
                box-sizing: border-box;
                font-size: 1.5rem;
                color: $blueColor;
                font-weight: bold;
            }
        }

        .alert {
            color: yellow;
            font-size: 2rem;
            font-weight: bold;
        }

        .formButton {
            width: 100%;
            background-color: $purpleColor;
            border: 3px solid $greenColor;
            font-size: 1.5rem;
            font-weight: 300;
            color: $greenColor;
            padding: 10px 18px;
            margin: 50px 0;
            display: inline-block;
            box-sizing: border-box;
            border-radius: 15px;
        }    

}






.resultForm {
    width:500px;
    height: 250px;
    background-color: $purpleColor;
    border-radius: 0.5rem;
    box-shadow: 5px 10px 10px 5px rgba(47, 47, 47, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .result-text {
        margin-top: 20px;
        text-align: center;
    }

    .repeatBtn {
        width: 120px ;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
        color: $greenColor;
        background-color: $greyColor;
        border: 2px solid $greyColor;
        padding: 8px 0;
        margin-bottom: 50px;
    }

    .repeat:hover {
        background-color: $blackColor;
        color: $greyColor;
    }


}




#Mode-btn {
  margin-top: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  background-color: $whiteColor;
  border: 2px solid $greyColor;

    .toogle:first-child {
        display: block;
        margin: auto;
        color: $greenColor;
        font-size: 1.5rem;
    }

    .toogle:last-child {
        display: none;
        text-align: center;
        color: $purpleColor;
    }
}



#darkMode #Repeat:hover {
    background-color: $lightGreen;
    color: $blackColor;
}

#darkMode .toogle:first-child {
    display: none;
}

#darkMode .toogle:last-child {
    display: block;
    font-size: 1.2rem;
    color: $purpleColor;
}




#darkMode {
    main {
        .name {
            color: white;
            .name-form {
                .formPage {
                    background-color: $blackColor;
                    h2 {
                        color: $greenColor;
                    }
                    p {
                        color:$greenColor;
                    }
                    .alert {
                        color: $redColor;
                    }
                    #start {
                        background-color: $blackColor;
                    }
                }
                .cb {
                    .quizContainer {
                        background-color: $blackColor;
                    }
                    #result {
                        background-color: $blackColor;
                        color: $greenColor;
                    }
                }
            }
        }
    }
}