
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

  <footer>
    <hr/>
    <div class="social-panel-container">
      <div class="social-panel">
        <p>&copy 2021 Created<i class="fa fa-heart"></i>by
          <a target="_blank" href="#">VFT.Hendro</a></p>
        <button class="close-btn"><i class="fas fa-times"></i></button>
        <!-- <h4>Get in touch on</h4> -->
        <ul>
          <li>
            <a href="https://linkedin.com" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button class="floating-btn">
      Click-Me
    </button>
    
    
  </footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->