//======================== COLOR =========================//
$greenColor: #37F713;
$lightGreen: #55E6C1;
$blueColor: #0984e3;
$blackColor: #2d3436;
$purpleColor: #9B1FE8;
$greyColor: #9596b7;
$whiteColor: #fff;
$redColor: #e84393;
//======================== COLOR =========================//