/* Ini adalah file main.scss yang akan menjadi tempat menulis styling */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import 'component/variables';
@import 'parts/header';
@import 'parts/home';
@import 'parts/footer';

* {
  padding: 0;
  margin: 0;
  box-sizing: "border-box";
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  height: 100vh;
  background: #eee;
  align-items: center;
  justify-content: center;
}