<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})


<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main>
  <div class="name" id="home">
    <div class="name-form" id="form-name">

      <button id="Mode-btn">
        <i class="bi bi-brightness-high-fill toogle"></i>
        <i class="bi bi-moon-stars-fill toogle"></i>
      </button>

      <div class="formPage" id="form">
        <h2 class="formTitle">Selamat Datang di Quiz-EZ</h2>
        <p class="formText">Kamu Sudah Belajar?</p>
        <div class="formBox">
          <p class="formBoxTitle">Nama:</p>
          <input class="formBoxInput" type="text" placeholder="Type here..." id="studentName">
        </div>
        <div class="alert" id="promptAlert" style="display: none">Nama harus di isi dan minimum 4 karakter!</div>
        <button class="formButton" id="start">Start</button>
      </div>
      
      <div class="cb">
        <div class="quizContainer" id="quiz">
            <h1>Quiz-EZ</h1>
            
            <h3>Questions Here</h3>

            <ul>
                <li data-aos="fade-right"> 
                    <input type="radio" id="a" name="choice" class="answer"/>
                    <label id="option1" for="a"></label>
                </li>
                <li data-aos="fade-left">
                    <input type="radio" id="b" name="choice" class="answer"/>
                    <label id="option2" for="b"></label>
                </li>
                <li data-aos="fade-right">
                    <input type="radio" id="c" name="choice" class="answer"/>
                    <label id="option3" for="c"></label>
                </li>   
            </ul>

            <div class="btn">
                <button id="btn-prev">Prev</button>
                <button id="btn-next">Next</button>
            </div>

        </div>

        <div class="resultForm" style="display: none" id="result">
          <h1 class="result-text" id="rep-btn"></h1>
          <button class="repeatBtn" id="Repeat" style="display: none;">Replay</button>
        </div>
        
      </div>

    </div>
  </div>
</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->